html, body {
    margin: 0px;
}

#wrapper {
    font-family: Helvetica;
    color: #024d61;
}

#title {
    position: fixed;
    width: 100%;
    font-size: 30pt;
    text-align: center;
}

#header_container {
    width: 100%;
    position: fixed;
    top: 0px;
    background: #83acee;
    z-index: 100;
}

#event_new_container {
    height: 200px;
    width: 680px;
    margin: 0 auto;
}

.form {
    display: inline;
    float: left;
    margin: 12px;
}

.form input {
    width: 300px;
    font-size: 12pt;
    height: 18px;
    padding: 3px;
}

button {
    font-size: 12pt;
    padding: 4px;
}

#timeline_container {
    width: 800px;
    margin: 0 auto;
    margin-top: 240px;
}

#event_container {
    float: left;
    width: 395px;
}

#period_container {
    position: relative;
    float: right;
    width: 395px;
}

.event_item {
    width: 355px;
    padding: 10px 20px;
    height: 100px;
    margin-top: 5px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background: rgba(0, 165, 255, 0.2);
}

.item_title {
    float: left;
    font-weight: bold;
}

.item_delete {
    float: right;
    cursor: pointer;
}

.item_delete:hover {
    text-decoration: underline;
}

.item_date {
    clear: both;
}

.item_description {
    margin-top: 3px;
}

.event_item_description {
    height: 65px;
    overflow: scroll;
}

.period_item {
    position: absolute;
    width: 150px;
    padding: 10px 20px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background: rgba(255, 165, 0, 0.3);
}

.arrow {
    margin-top: 10px;
    cursor: pointer;
}

.arrow:hover {
    font-weight: bold;
}

.period_item_left_arrow {
    float: left;
}

.period_item_right_arrow {
    float: right;
}
