html, body {
    margin: 0px;
}

#wrapper {
    font-family: Helvetica;
    color: #024d61;
}

#title {
    font-size: 30pt;
    text-align: center;
}

#event_new_container {
    background: #83acee;
    padding: 10px;
    height: 150px;
}

.form {
    display: inline;
    float: left;
}

#event_new_container input {
    width: 400px;
    height: 20px;
    font-size: 12pt;
    padding: 5px;
}

button {
    border: none;
    font-size: 14pt;
    color: whitesmoke;
}

#timeline_container {
    width: 800px;
    margin: 0 auto;
}

#event_container {
    float: left;
    width: 400px;
}

#period_container {
    position: relative;
    float: left;
    width: 400px;
}

.event_item {
    width: 360px;
    padding: 10px 20px;
    height: 100px;
    margin-top: 5px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.period_item {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    width: inherit;
    padding: 10px 20px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
